<% layout("layouts/boilerplate") %>

  <div class="form-container">
    <h1>Create a New Listing</h1>

    <form class="needs-validation listing-form" novalidate method="post" enctype="multipart/form-data" action="/create">

          <div>
            <label>Title</label>
            <input type="text" name="title" class="form-control custom-input" required>
            <div class="invalid-feedback">Enter a catchy title</div>
            <div class="valid-feedback">Title looks good!</div>
          </div>

          <div>
            <label>Description</label>
            <textarea name="description" class="form-control custom-input" required></textarea>
            <div class="invalid-feedback">Enter description</div>
            <div class="valid-feedback">Description looks good!</div>
          </div>

          <!-- <div>
            <label>Image Link</label>
            <input type="text" name="image" class="form-control custom-input">
          </div> -->

          <div>
            <label>Image file</label>
            <input type="file" name="listing[image]"" class="form-control custom-input">
          </div>

          <div class="row">
            <div class="col">
              <label>Price</label>
              <input name="price" class="form-control custom-input" required>
              <div class="invalid-feedback">Enter price</div>
            </div>

            <div class="col">
              <label>Country</label>
              <input type="text" name="country" class="form-control custom-input" required>
              <div class="invalid-feedback">Enter country</div>
            </div>
          </div>

          <div>
            <label>Location</label>
            <input type="text" name="location" class="form-control custom-input" required>
            <div class="invalid-feedback">Enter location</div>
          </div>

          <button type="submit" class="submit-btn mt-3">Add Listing</button>

        </form>
  </div>

  <script>
    (() => {
      'use strict'
      const forms = document.querySelectorAll('.needs-validation')
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>